nav {
    border-bottom: none;
    color: green;
    text-align: center;
    border: 1px double black ;
    border-radius: 3px;
    background-color: orange;
}
main {
    font-family: 'Times New Roman', Times, serif;
}
section {
    color:green;
}
table {
    border-color: black;
    border-style: double;
}
td {
    Border-color: black;
    border-style: double;
    padding-left: 6px;
    padding-right: 6px;
    text-align:center;
}
header {
    text-align: center;
    position: fixed center;
}